@model IEnumerable<DOICMS.Models.InsurerListItem>

@{
    ViewBag.Title = "List of Insurers";
}

<h2>Insurers</h2>
<label>Total Insurers:</label> @ViewBag.TotalCount

<p>
    @Html.ActionLink("Create New", "InsurerCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InsurerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.InsurerID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhoneNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Type)
    </td>
    <td>
        @Html.ActionLink("Edit", "InsurerEdit", new { id = item.InsurerID }) |
        @Html.ActionLink("Details", "InsurerDetails", new { id = item.InsurerID }) |
        @Html.ActionLink("Delete", "InsurerDelete", new { id = item.InsurerID })
    </td>
</tr>
}

</table>
