<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IDOI - CMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("IDOI - CMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Complaints", "Index", "Complaint")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Available Reports <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Agents", "Index", "Agent")</li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Insurers", "Index", "Insurer")</li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Investigators", "Index", "Investigator")</li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Consumers", "Index", "Consumer")</li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("AdminActions", "Index", "AdminAction")</li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Complaints", "Index", "Complaint")</li>
                        }
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - IDOI CMS</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
